*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Fredoka One, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.crearfix::after{
    content: '';
    clear: both;
    display: table;
}

.cards{
    float: left;
}


.card{
    background-color: black;
    width: calc((100% / 3) - 5%);
}

.first{
    float: left;
}

.last{
    float: right;
}

